{% extends "dashboard.html"%}
{% load staticfiles %}
{% block content %}
  <div class="container">
        <h2 class="mt-2" style="font-family: 'Noticia Text', serif;">Change Password</h2>
        <div style='height:2px;width:100px;background:#ff5063'></div>
        <p class='my-1' style="font-family: 'Noticia Text', serif;">
            Fill out the details to change your account password
        </p>
        <form action="" method="post">
            {% csrf_token %}
            {% if status %}
            <p class="alert alert-{{col}}">{{status}}</p>
            {% endif %}
            <div class="form-group">
                <label for="" style="font-family: 'Noticia Text', serif;">Current Password</label>
                <input type="password" class="form-control" name="old" placeholder="Current Password">
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="" style="font-family: 'Noticia Text', serif;">New Password</label>
                        <input type="password" class="form-control" name="new" id='p' placeholder="New Password" onkeyup="check()">
                    </div>
                    <div class="col-md-6">
                        <label for="" style="font-family: 'Noticia Text', serif;">Re-enter New Password</label>
                        <input type="password" class="form-control" name="rnew" id='cp' placeholder="Re-enter New Password" onkeyup="check()">
                    </div>
                </div>      
            </div>
            <div class='form-group'>
                <input type="submit" id='submit' class="btn btn-block text-light" style='border-radius:20px;background:#ff5063;' value='Change Password'/>
            </div>
        </form>
  </div>
  <script>
      function check(){
          pw  = $('#p').val();
          cpw  = $('#cp').val();
          if(pw==cpw){
              $('#p').css('border','1px solid green');
              $('#cp').css('border','1px solid green');
              $('#change').removeAttr('disabled');
          }else{
              $('#p').css('border','1px solid red');
              $('#cp').css('border','1px solid red');
              $('#change').attr('disabled','disabled');
          }
      }
      </script>
{% endblock %}