{% extends "dashboard.html"%}
{% load staticfiles %}
{% block content %}
 <div class="container">
        
            <h2 style="font-family: 'Noticia Text', serif;" class="mt-2">Change Profile</h2>
            <div style='height:2px;width:100px;background:#ff5063'></div>
            <p class='my-1' style="font-family: 'Noticia Text', serif;">
                Fill your details here. If you change your email, use updated email for further loggin in.
            </p>
    
     <form action="" method="POST">
           {% csrf_token %}
            <div class="form-group">
                    <div class="form-group">
                        <label for="" style="font-family: 'Noticia Text', serif;">Username</label>
                        <input type="text" class="form-control" name="username"  value="{{user.username}}">
                    </div>
                    <div class="form-group">
                        <label for="" style="font-family: 'Noticia Text', serif;">Email</label>
                        <input type="email" class="form-control" name="email" value="{{user.email}}">
                    </div>
                    <div class="form-group">
                            <label for="" style="font-family: 'Noticia Text', serif;">Date of Birth</label>
                            <input type="text" class="form-control" name="dob" value="{{profile.date_of_birth}}">
                    </div>
                    <div class='form-group'>
                        <label for="" style="font-family: 'Noticia Text', serif;">Address</label>
                        <textarea placeholder="" class="form-control" name="address">{{profile.address}}</textarea>
                    </div>
                    <div class='form-group'>
                        <input type="submit" class="btn btn-block text-light" style='border-radius:20px;background:#ff5063;'/>
                     </div>
            </div>
     </form>
 </div>
{% endblock %}