{% extends "base.html"%}
{% block mystyle %}
{% endblock %}
{% block body %}
<div class='container-fluid'>
<div class="row">
  <div class="col-md-3">
       
        <div class="row">
                <div class="col-md-12 text-center mt-2" style="border: 2px solid black ; color: slategray">
                    <h4 style="font-family: 'Noticia Text', serif; font-size: 30px;" class="p-3">
                        <i class="far fa-address-card" style="font-size:30px;"></i>
                        <span class="ml-1">MANAGE PROFILE</span></h4>
                    <h5><a href="{%url 'myapp:profile'%}"><span style="font-family: 'Noticia Text', serif;">My Profile</a> </span></h5>
                    <h5><a href="{%url 'myapp:change_profile'%}" ><span style="font-family: 'Noticia Text', serif;">Change Profile</a></span></h5>
                    <h5><a href="{%url 'myapp:change_password'%}"> <span style="font-family: 'Noticia Text', serif;">Change Password</a></span></h5>
        </div></div>
        <div class="row">
                <div class="col-md-12 text-center mt-2" style="border: 2px solid black ; color: slategray">
                    <h4 style="font-family: 'Noticia Text', serif; font-size: 30px;" class="p-3">
                            <i class="fas fa-cart-arrow-down"></i>
                            <span class="ml-1">MY ORDERS</span></h4>
                    <h5><a href="{%url 'myapp:myorders'%}" > <span style="font-family: 'Noticia Text', serif;">Order History</span></a></h5>
                    <h5><a href="{%url 'myapp:pending_orders'%}" ><span style="font-family: 'Noticia Text', serif;">Pending Orders</span></a></h5>
                    
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 p-2 text-center mt-2" style="border: 2px solid black ; color: slategray">
           <h5>
               <a href="{%url 'myapp:uslogout' %}"><i class="fas fa-sign-out-alt"></i> 

            <span style="font-family: 'Noticia Text', serif;" class="ml-1" >Logout</span></a></h5>   
        </div>
    </div>
  </div>
  <div class="col-md-7 ">
      {% block content %}
      {% endblock %}
  </div>
</div>
</div>
{% endblock %}