<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Front Page </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"/> -->
    <script src="{%static 'jquery.js'%}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noticia+Text" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Khand" rel="stylesheet">
   
  <style>
   h6{
    font-family: 'Alegreya', serif;
    font-size: 17px;
   } 
  .ab{
     font-size: 100px;
     background-image: url("{%static 'images/img6.jpg'%}");
     background-size: cover;
     height: 500px;
     width:400px;
     text-align: center;
     color:white;
     line-height: 500px;
     background-repeat: no-repeat;
  }
  .abc:hover{
      background-color: blue;
      color:white !important; 
    }
    .dis{
        background-image: url('{%static "images/speakers2.jpg"%}');
        height:350px;
        width:400px;
        text-align: right;
        font-family: 'Arvo', serif;
        
       background-repeat: no-repeat;
       word-spacing: 10px;
       }
    .shop:hover{
        color: black;
    }
    .shop{
        color:#ff4d4d;
    }
    .deals{
        margin-top:200px; 
        margin-left:10px; 
        font-family: 'Khand', sans-serif;
        font-size: 50px;
    }
    .special:hover{
        transform:scale(1.1);
       
    }
    .caro{
        height:150px;
        width:150px;
        border-radius: 50%;
        margin-top: 100px;
        color: white;

    }
    .women{
        text-align: right;
        font-family: 'Khand', sans-serif;
        font-size: 50px;
        margin-top: 25px;
    }
    .op{
        width:100%;
        height:400px;
        background:rgba(0,0,0,0.7);
        background-size: 100% 100%;
  }
  .d{
        width:100%;
        height:400px;
        background:url("{%static 'images/img7.jpg'%}");
        background-size: 100% 100%;
        background-repeat: no-repeat;  
  }
  .box1{
      width:110px;
      height:110px;
      background:darkblue;
      color:white;
      border-radius:50%;
      margin:10px;
      font-size:30px;
      text-align:center;
      line-height:100px;
  }
 </style>
 {% block mystyle %}
 {% endblock %}
</head>
<body>
  {% if status %}
    <script>
      alert('{{status}}');
    </script>
  {% endif %}

  <div class="container" style="overflow-hidden">
      <div class="row">
        <div class="col-md-2 ">
            {% if user.is_authenticated %}
            {% else %}
            <i class="fas fa-user text-primary m-5 p-3" 
        style=" margin-top: 100px; border:1px solid blue" data-toggle="modal" data-target="#signup"></i>
        {% endif %}  
        </div>
        <div class="col-md-8">
            <img src="{%static 'images/img2.jpg'%}" height="120px" width="380px" style="margin-left:200px">
            <h4 class="text-center" style="letter-spacing: 6px; font-family: 'Open Sans Condensed', sans-serif;">Your Stores. Your Place.</h4>
        </div>
        <div class="col-md-2">
          <a href="{%url 'myapp:cart' %}">
        <i class="fas fa-shopping-cart text-danger m-5 p-4" 
        style="margin-top: 100px;
         border:1px solid red"></i></a>
         </div>
      </div>
<!------------------- navbar ----------------------------------------->
    <div class="row">
        <div class="col-md-12">
     <nav class="navbar navbar-dark bg-dark navbar-expand-sm  ">
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#mynav">
            <span class="navbar-toggler-icon"></span>
        </button> 
        <div class="collapse navbar-collapse" id="mynav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"><a href="" class="nav-link">HOME</a></li>
                <li class="nav-item dropdown">
                    <a href="" class=" nav-item nav-link dropdown dropdown-toggle ml-5"
                        data-toggle="dropdown"><b class="caret">PRODUCTS</b></a>
                    <div class="dropdown-menu multi-column">
                      <div class="container-fluid dropdown-container">
                        <div class="row" style="height: 300px; width:900px;">
                        <div class="col-md-3">
                            <h5>Mobiles</h5>
                           <a href="{%url 'myapp:mobile'%}" class="dropdown-item">Mobile Phones</a>
                           <a href="{%url 'myapp:mobile'%}" class="dropdown-item">Mp3 Players</a>
                           <a href="{%url 'myapp:mobile'%}" class="dropdown-item">Popular Models</a>
                           <a href="{%url 'myapp:mobile'%}" class="dropdown-item">All Tablets</a>
                        </div>
                       
                         <div class="col-md-3">
                             <h5>Accessories</h5>
                            <a href="{%url 'myapp:mobile'%}" class="dropdown-item">Laptop</a>
                            <a href="{%url 'myapp:mobile'%}" class="dropdown-item">Desktop</a>
                            <a href="{%url 'myapp:mobile'%}" class="dropdown-item">Wearables</a>
                        </div>
                        
                        <div class="col-md-2">
                                <h5>Home</h5>
                               <a href="{%url 'myapp:mobile'%}" class="dropdown-item">TV</a>
                               <a href="{%url 'myapp:mobile'%}" class="dropdown-item">AC</a>
                               <a href="{%url 'myapp:mobile'%}" class="dropdown-item">Camera</a>
                               <a href="{%url 'myapp:mobile'%}" class="dropdown-item">Grinders</a>
                        </div>
                        <div class="col-md-4">
                            <img src="{%static 'images/food.jpg'%}" style="width:250px; height:250px;">
                        </div>
                        </div>
                      </div>
                    </div>
                    
                </li>
                <li class="nav-item"><a href="{%url 'myapp:ab' %}" class="nav-link ml-5">ABOUT US</a></li>
                
                <li class="nav-item"><a href="{%url 'myapp:ma'%}" data-target="self" class="nav-link ml-5">MAIL US</a></li>
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a href="" class=" nav-item nav-link dropdown dropdown-toggle ml-5"
                        data-toggle="dropdown" disabled id="account"><b class="caret">MY ACCOUNT
                          {{user.username}}
                        </b></a>
                      <div class="dropdown-menu" >
                        <a href="{%url 'myapp:profile'%}" class="dropdown-item">View Profile</a>
                        <a href="{%url 'myapp:change_profile'%}" class="dropdown-item">Change Profile</a>
                        <a href="{%url 'myapp:myorders' %}" class="dropdown-item">Order History</a>
                        <a href="{%url 'myapp:pending_orders' %}" class="dropdown-item">Pending Orders</a>
                        <a href="{%url 'myapp:cart' %}" class="dropdown-item">My Cart</a>
                        <a href="{%url 'myapp:uslogout' %}" class="dropdown-item">Logout</a>
  
  
                
                      </div></li>
                {% endif %}
            </ul>
        </div>

     </nav>
    </div>
</div>

<!--------------------------- Pic -------------------------->

<div class="row">
  <div class="col-md-12">
      <img src="{%static 'images/img10.jpg'%}" style="width:100%; height: 600px ;"/>
  </div>
</div>

<!-------------------video embed------------------------>
<div class="row ">
    <div class="col-md-4 ml-4">
       <!-- <img src=" images/img6.jpg" style="height:500px;width:500px;" > -->
       <i class="far fa-play-circle ab" data-toggle="modal" data-target="#video"></i>
    </div>
    <div class="modal modal-fade" id="video">
        <div class="modal-dailog modal-lg mx-auto">
            <div class="modal-content">
                
                <!-- <span class="text-danger font-weight-bold close" data-dismiss="modal"
                    style="font-size:30px;">X</span> -->
                <div class="modal-body mt-3">
                <!-- <video controls class="video-container ml-5" style="height:500px; width:700px;" >
                    <source src="videos/video1.mp4"  type="video/mp4"></source>
                </video> -->
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                 style="font-size:50px">&times</button>
                <iframe width="700" height="400" src="https://www.youtube.com/embed/ZQa6GUVnbNM" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
    </div>
<!-----------------------------Nav TAbs------------------------------------->
    <div class="col-md-7 ml-5 p-5">
        <ul class="nav nav-tabs active">
          {% for i in cat %}
          <li role="presentation" class='{% if i.id is 3%}active{% endif %} nav-item ml-3 text-dark '>
            <a href="#{{i.category_name}}" id="{{i.category_name}}-tab" role="tab" data-toggle="tab" aria-controls="{{i.category_name}}" onclick ="getproduct('{{i.category_name}}')">{{i.category_name}}</a></li>
          {% endfor %}
        </ul>
        <script>
          function getproduct(ab){
              $.ajax({
                url:'{% url "myapp:fr"%}',
                type:'get',
                data:{cat:ab},
                success:function(data){
                  aa='';
                  for(i in data){
                    aa += '<div class="col-md-4"><img src="/media/'+data[i].photo+'" style=" height:200px;width:100%;"onclick="singleproduct('+data[i].id+')"  data-toggle="modal" data-target="#mymodal"><h3 class="ml-2" style="color:#ff4d4d"><span>'+data[i].product_name+'</span></h3><del class="ml-2"> <i class="item_price">&#8377;</i>'+data[i].price+'</del> <i class="item_price">&#8377;</i>'+data[i].sale_price+'<form action="{% url "myapp:cart"%}" method="post">{% csrf_token %}<input type="hidden" name="add" value="1" /><input type="hidden" name="item_id" value="'+data[i].id+'" /><input type="hidden" name="amount" value="'+data[i].sale_price+'" /><button type="submit" class="w3ls-cart">Add to cart</button></form></div>';
                  // alert(aa);
                  }
                  $('.a').html(aa);
                }
              });
            }
        </script>
        <div ></div>
        <div class="tab-content">
					<div  class="tab-pane active " id="{{i.category_name}}" aria-labelledby="{{i.category_name}}-tab" >
            			<div class="row a">

                  </div>
              <div class="clearfix"> </div>
            
           
          
          </div>
          </div>
          <!-- END REPEAT CODE		 -->
        </div>
    <!-- <div class="tab-content" >
        <div class='tab-pane  active' id="mobiles">
            <div class="row">
                <div class="col-md-3 ml-4 mt-3">
                  <img src="[%static 'images/iphoneX.jpg'%}"/>
                  <h4 class="ml-3">IPHONE X</h4>
                  <del class="ml-3">$5000</del><h4 class="text-dark">$4500</h4>
                  <button class="btn btn-light btn-block btn-outline-dark">Add to Cart</button>
                </div>
                <div class="col-md-3  mt-3 ml-4" >
                    <img src="{%static 'images/samsungm20.jpg'%}"  />
                    <h4 class="ml-3">SAMSUNG M20</h4>
                    <del class="ml-3">$1000</del><h4 class="text-dark">$500</h4>
                    <button class="btn btn-light btn-block btn-outline-dark">Add to Cart</button>
                  </div>
                  <div class="col-md-3 mt-3 ml-4" >
                    <img src="{%static 'images/oneplus6t.jpg'%}"/>
                    <h4 class="ml-3">ONEPLUS 6T</h4>
                    <del class="ml-3">$1500</del><h4 class="text-dark">$1000</h4>
                    <button class="btn btn-light btn-block btn-outline-dark">Add to Cart</button>
                  </div>
            </div>
        </div>
        <div class='tab-pane fade In' id="audio" >
        <div class="row" >
            <div class="col-md-3 ml-4 mt-3">
              <img src="{%static 'images/iphoneX.jpg'%}" />
              <h4 class="ml-3">IPHONE X</h4>
              <del class="ml-3">$5000</del><h4 class="text-dark">$4500</h4>
              <button class="btn btn-light btn-block btn-outline-dark">Add to Cart</button>
            </div>
            <div class="col-md-3 ml-4 mt-3">
                <img src="{%static 'images/samsungm20.jpg'%}" />
                <h4 class="ml-3">SAMSUNG M20</h4>
                <del class="ml-3">$1000</del><h4 class="text-dark">$500</h4>
                <button class="btn btn-light btn-block btn-outline-dark">Add to Cart</button>
              </div>
              <div class="col-md-3 ml-4 mt-3">
                <img src="{%static 'images/oneplus6t.jpg'%}" />
                <h4 class="ml-3">IPHONE X</h4>
                <del class="ml-3">$5000</del><h4 class="text-dark">$4500</h4>
                <button class="btn btn-light btn-block btn-outline-dark">Add to Cart</button>
              </div>
        </div></div>
        <div class='tab-pane fade In' id="computer"  >
        <div class="row" >
            <div class="col-md-3 ml-4 mt-3">
              <img src="{%static 'images/iphoneX.jpg'%}" />
              <h4 class="ml-3">IPHONE X</h4>
              <del class="ml-3">$5000</del><h4 class="text-dark">$4500</h4>
              <button class="btn btn-light btn-block btn-outline-dark">Add to Cart</button>
            </div>
            <div class="col-md-3 ml-4 mt-3">
                <img src="{%static 'images/samsungm20.jpg'%}" />
                <h4 class="ml-3">SAMSUNG M20</h4>
                <del class="ml-3">$1000</del><h4 class="text-dark">$500</h4>
                <button class="btn btn-light btn-block btn-outline-dark">Add to Cart</button>
              </div>
              <div class="col-md-3 ml-4 mt-3">
                <img src="{%static 'images/oneplus6t.jpg'%}" />
                <h4 class="ml-3">IPHONE X</h4>
                <del class="ml-3">$5000</del><h4 class="text-dark">$4500</h4>
                <button class="btn btn-light btn-block btn-outline-dark">Add to Cart</button>
              </div>
        </div></div>
         <div class='tab-pane fade In' id="household"  >
        <div class="row">
            <div class="col-md-3 ml-4 mt-3">
              <img src="{%static 'images/iphoneX.jpg'%}" />
              <h4 class="ml-3">IPHONE X</h4>
              <del class="ml-3">$5000</del><h4 class="text-dark">$4500</h4>
              <button class="btn btn-light btn-block btn-outline-dark">Add to Cart</button>
            </div>
            <div class="col-md-3 ml-4 mt-3">
                <img src="{%static 'images/samsungm20.jpg'%}" />
                <h4 class="ml-3">SAMSUNG M20</h4>
                <del class="ml-3">$1000</del><h4 class="text-dark">$500</h4>
                <button class="btn btn-light btn-block btn-outline-dark">Add to Cart</button>
              </div>
              <div class="col-md-3 ml-4 mt-3">
                <img src="{%static 'images/oneplus6t.jpg'%}" />
                <h4 class="ml-3">IPHONE X</h4>
                <del class="ml-3">$5000</del><h4 class="text-dark">$4500</h4>
                <button class="btn btn-light btn-block btn-outline-dark">Add to Cart</button>
              </div>
        </div></div>
        <div class='tab-pane fade In' id="kitchen" >
        <div class="row">
            <div class="col-md-3 ml-4 mt-3">
              <img src="{%static 'images/iphoneX.jpg'%}" />
              <h4 class="ml-3">IPHONE X</h4>
              <del class="ml-3">$5000</del><h4 class="text-dark">$4500</h4>
              <button class="btn btn-light btn-block btn-outline-dark">Add to Cart</button>
            </div>
            <div class="col-md-3 ml-4 mt-3">
                <img src="{%static 'images/samsungm20.jpg'%}" />
                <h4 class="ml-3">SAMSUNG M20</h4>
                <del class="ml-3">$1000</del><h4 class="text-dark">$500</h4>
                <button class="btn btn-light btn-block btn-outline-dark">Add to Cart</button>
              </div>
              <div class="col-md-3 ml-4 mt-3">
                <img src="{%static 'images/oneplus6t.jpg'%}" />
                <h4 class="ml-3">IPHONE X</h4>
                <del class="ml-3">$5000</del><h4 class="text-dark">$4500</h4>
                <button class="btn btn-light btn-block btn-outline-dark">Add to Cart</button>
              </div>
        </div></div>
    </div> -->
  </div>

<script>
  function singleproduct(cd){
  
    prid = cd
    $.ajax({
       url:'{% url "myapp:singleproduct" %}',
       type:'get',
       data:{prid:prid},
       success:function(data){
       var check = (data.description).search('@');
       if(check==-1){
         dsc = data.description;
                    }
       else{
         var dd = (data.description).split('@');
         dsc = '';
       for(var i=0; i<dd.length-1;i++){
         dsc+='<li>'+dd[i]+'</li>';
                     }
           }
         $('.pimg').html('<img src="/media/'+data.photo+'" alt="No Image" class="img-responsive" height="100%"/>');
         $('#pname').html(data.name);
         $('#pdes').html('<ul>'+dsc+'</ul>');
         $('#pp').html(data.price);
         $('#sp').html(data.sale_price); 
         $('#iprice').val(data.sale_price);
         $('#item_id').val(data.id);
                 }
               });
    
  }
  </script>
<!-------------------------------------------------model--------------------------------------------------------------->
<div class="modal modal-fade" id="mymodal">
  <div class="modal-dialog modal-lg mx-auto">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title text-dark"> Product Details</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-md-5 pimg" style="height:300px; width:100%;">
              <!-- <img src="{%static 'images/asus2.jpg'%}" style="height:300px; width:300px;"> -->
            </div>
            <div class="col-md-7">
              <h3 id='pname'  style="color:#ff4d4d; font-family:'Arvo', serif; margin-left: 45px;"></h3>
              <hr>
              <ul class="list-group" style="margin-left: 40px;">
              <p id='pdes'></p></ul>
              <hr>
             <span style="font-size:25px; margin-left: 45px;" >&#8377;</span> <del id="pp" style="font-size:25px;"></del><br>
            <span style="font-size:25px;margin-left: 45px;">&#8377;</span>  <span id="sp" style="font-size:25px;"></span>
              <div class="clearfix"> </div>
            </div>
                
            </div>
          </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>

<!--------------------------Discount------------------------------->
<div class="row ">
    <div class="col-md-7 dis mt-2 ">
   
    <h5>Grand Opening Event With Flat</h5>
    <h2 class="display-4 ml-5"><span style="color:#ff4d4d">20%</span><span >Discount</span></h2>
    <br><br><h4 class="shop">SHOP NOW <span style="font-size:40px; font-weight:bold;">&rarr;</span></h4>
    </div>
    <div class=" d col-md-5" >
      <div class='op'>
        <div class='circle text-center pt-5' style="font-family:'Vollkorn', serif;">
            <span class='btn bg-dark text-white mt-5'style="border:1px solid white; width:200px;">Hot Deal</span>
        </div>
        <div class='row pt-3 mx-0 '>
            <div class='col-md-2 ml-2'>
                <div class='box1'>10<span style="font-size: 12px;">Days</span></div>
               
            </div>
            <div class='col-md-2 ml-2'>
                <div class='box1'>23<span style="font-size: 12px;">Hours</span></div>
            </div>
            <div class='col-md-2 ml-2'>
                <div class='box1'>48<span style="font-size: 12px;">Mins</span></div>
            </div>
            <div class='col-md-2'>
                <div class='box1' id='box'>00<span style="font-size: 12px;">Sec</span></div>
            </div>
        </div>
    </div>
    
    </div>
</div>
<script>
 let c=1;
            function counter(){
                if(c<=60){
                document.getElementById('box').innerHTML=c; 
                c++;
                }
                else{
                    c=1
                }
            }
                setInterval(counter,500)
</script>
<!------------------------------special deals----------------------------------->
<div class="row">
  <div class="col-md-12">
<h1 class="mx-auto text-center  p-5" style="font-family: 'Noticia Text', serif;">
    Special Deals</h1></div></div>
    
    <div class="row">
        <div class="col-md-6">
         <div class="row ml-5 special" style="background-image: url('{%static 'images/img8.jpg'%}'); 
           background-size: cover; background-repeat: no-repeat">
            <div class="col-md-12" style="background-color: rgba(0, 0, 0,0.5);height:375px;
             width:600px; overflow:hidden;">
            <h3 class="deals"><span style="color:white;">WE OFFER 
            </span><br><span style="color:#ff4d4d; margin-left: 40px;">
              BEST PRODUCTS</span></h3></div>
        </div>
      
<!----------------------carousel--------------------------> 
        <div class="row mt-3">
            <div class="col-md-12 bg-dark ml-5 ">
                    <div class="bd-example">
                            <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-ride="carousel">
                              <ol class="carousel-indicators">
                                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                              </ol>
                              <div class="carousel-inner">
                                <div class="carousel-item active" style="height:400px; width:500px;">
                                  <img src="{%static 'images/img9.jpg'%}" class="d-block w-100 caro" alt="...">
                                  <div class="carousel-caption d-none d-md-block">
                                    <h5>lorem</h5>
                                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                                  </div>
                                </div>
                                <div class="carousel-item" style="height:400px; width:500px;">
                                  <img src="{%static 'images/img9.jpg'%}" class="d-block w-100 caro" alt="...">
                                  <div class="carousel-caption d-none d-md-block">
                                    <h5>lorem</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                  </div>
                                </div>
                                <div class="carousel-item" style="height:400px; width:500px;">
                                    
                                  <img src="{%static 'images/img9.jpg'%}" class="d-block w-100 caro" alt="...">
                                  <div class="carousel-caption d-none d-md-block">
                                    <h5>lorem</h5>
                                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                                  </div>
                                </div>
                              </div>
                              <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                              </a>
                              <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                              </a>
                            </div>
                          </div>

            </div>
        </div>

        </div>
        <div class="col-md-4 ">
            <div class="row ml-5" style="background-image: url('{%static 'images/watch1.jpg'%}'); 
            height: 800px; width:400px;  background-repeat: no-repeat">
                <div class="col-md-12" style="background-color: rgba(0, 0, 0,0.5);height:800px; width:500px">
                        <h3 class="women"><span style="color:white;">WOMEN'S SPECIAL
                            </span><br><span style="color:#ff4d4d; margin-left: 40px;">SAVE UP</span>
                            <br><span style="color:white;">TO</span>
                           <br> <span style="color:#ff4d4d; margin-left: 40px;">30%</span></h3>
                </div>
            </div>
        </div>
    
    </div>

<!--------------------------------New products--------------------------------------->
<div class="row mt-5" style="background-color: lightgray">
  <div class="col-md-12">
  <h1 class="mx-auto text-center  p-3" style="font-family: 'Noticia Text', serif;">
    New Products</h1></div></div>
    <div class="row ">
    {% for i in alls %}
       <div class="col-md-3">
        <img src="/media/{{i.photo}}" style="height:300px; width:100%" onclick="singleproduct('{{i.id}}')" data-toggle="modal" data-target="#mymodal">
        <h4>  <span style="color:#ff4d4d ;font-family: 'Noticia Text', serif;">{{i.product_name}}</span></h4>
        <del>&#8377;{{i.price}}</del> &#8377;{{i.sale_price}}<br>
        <form action="{% url 'myapp:cart'%}" method="post">
          {% csrf_token %}
          <input type="hidden" name="add" value="1"> 
          <input type="hidden" name="w3ls_item" value="{{i.product_name}}"> 
          <input type="hidden" name="amount" value="{{i.sale_price}}">   
          <input type="hidden" name="item_id" value="{{i.id}}"> 
          <button type="submit" class="w3ls-cart">Add to cart</button>
      </form> 
       </div>
    {% endfor %}
    
</div>
<!-----------------------------------------TOP BRANDs-------------------------------------------->
<div class="row">
  <div class="col-md-12">
  <h1 class="mx-auto  p-5" style="font-family: 'Noticia Text', serif;">
      Top Brands</h1></div></div> 
  <!--------------------------------------------------------------------------->
  <marquee > <div class="row">
    <div class="col-md-2 ">
     <img src="{%static 'images/icon1.jpg'%}" style="width:200px; height:200px;">
    </div>
    <div class="col-md-2 ">
     <img src="{%static 'images/icon2.jpg'%}" style="width:200px; height:200px;"> 
    </div>
    <div class="col-md-2 ">
     <img src="{%static 'images/icon3.jpg'%}" style="width:200px; height:200px;"> 
    </div>
    <div class="col-md-2 ">
     <img src="{%static 'images/icon4.jpg'%}" style="width:200px; height:200px;"> 
    </div>
    <div class="col-md-2 ">
      <img src="{%static 'images/icon5.jpg'%}" style="width:200px; height:200px;"> 
    </div>
    </div></marquee>
      
<!------------------------------------footer----------------------------------------->

<br>
<!---------------------------------------footerr--------------------------------------->
<div class="row">
  <div class="col-md-3">
   <h4 style="font-family: 'Noticia Text', serif; font-size: 30px;">CONTACT</h4><br>
  <p style="font-family: 'Noticia Text', serif;" class="ml-2">
    <i class="fas fa-map-marker-alt m-3 p-2" style="border:1.2px solid slategrey;"></i>
    #C-86, Industrial Area, phase-7 Mohali, India</p>
    <p style="font-family: 'Noticia Text', serif;" class="ml-2">
      <i class="fas fa-envelope m-2 p-2" style="border:1.2px solid slategrey;"></i>
      dipaligarg502@gmail.com,<br>
      parneet718@gmail.com</p>
      <p style="font-family: 'Noticia Text', serif;"class="ml-2">
        <i class="fas fa-phone mt-3 p-2" style="border:1.2px solid slategrey;"></i>
      98763-43502, 96460-28212</p>
      

  </div>
  <div class="col-md-3">
    <h4 style="font-family: 'Noticia Text', serif; font-size: 30px;">INFORMATION</h4><br>
     <p style="font-family: 'Noticia Text', serif;">
      <a href="{%url 'myapp:ab' %}">
      <span class="text-dark" style="font-size: 20px; font-weight: bold">&rarr;</span>About Us</a></p>
     <p style="font-family: 'Noticia Text', serif;">
        <a href="{%url 'myapp:ma'%}">
      <span class="text-dark" style="font-size: 20px; font-weight: bold">&rarr;</span>Contact Us</a></p>
    
     

  </div>
  <div class="col-md-3">
    <h4 style="font-family: 'Noticia Text', serif; font-size: 30px;">CATEGORY</h4><br>
    <p style="font-family: 'Noticia Text', serif;">
      <span class="text-dark" style="font-size: 20px; font-weight: bold">&rarr;</span> 
      <a href="{%url 'myapp:mobile'%}">Mobiles</a></p>
    <p style="font-family: 'Noticia Text', serif;">
      <span class="text-dark" style="font-size: 20px; font-weight: bold">&rarr;</span> 
      <a href="{%url 'myapp:mobile'%}">Laptops</a></p>
    <p style="font-family: 'Noticia Text', serif;">
      <span class="text-dark" style="font-size: 20px; font-weight: bold">&rarr;</span> 
      <a href="{%url 'myapp:mobile'%}">Home Appliances</a></p>
    <p style="font-family: 'Noticia Text', serif;">
      <span class="text-dark" style="font-size: 20px; font-weight: bold">&rarr;</span> 
      <a href="{%url 'myapp:mobile'%}">Kitchen</a></p>
   
  </div>
  <div class="col-md-3">
    <h4 style="font-family: 'Noticia Text', serif; font-size: 30px;">PROFILE</h4><br>
    <p style="font-family: 'Noticia Text', serif;">
        <a href="{%url 'myapp:fr'%}">
      <span class="text-dark" style="font-size: 20px; font-weight: bold">&rarr;</span> Home</a></p>
      <br>
      <h5 style="font-family: 'Noticia Text', serif; font-size: 20px;">Follow US</h5>
     <a href="https://www.facebook.com/"> <i class="fab fa-facebook" style="font-size: 30px"></i></a>
     <a href="https://www.google.com/"><i class="fab fa-google-plus-g ml-2" style="font-size: 30px"></i></a> 
  </div>
</div>

</div>  <!---container div closed-->
<!-------------------------login modal------------------- -->
  <div class="modal modal-fade" id="signup">
      <div class="modal-dailog modal-lg mx-auto">
          <div class="modal-content">
              <div class="modal-header">
                  <h2 class="modal-title text-dark">Don't Wait Login Now!</h2>
                  
                  <span class="text-danger font-weight-bold close" data-dismiss="modal"
                  style="font-size:30px;">X</span>
              </div>
              <div class="modal-body">
                 <div class='row'>
                        <div class="col-md-8">
                                <button class="btn btn-outline-dark" id="sbtn">SIGN IN</button>
                                <button class="btn btn-outline-dark" id="subtn">SIGN UP</button>
                        <div id="signin">       
                            <form action="{% url 'myapp:uslogin'%}" method="POST"> 
                              {% csrf_token%}                           
                                <div class="form-group mt-3 ">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                        <i class="fas fa-user"></i></span></div>
                                        <input type="text" placeholder="Email"  name="email" class="form-control" required=""/>
                                    </div>
                                   
                                </div>
                               
                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">
                                        <i class="fas fa-key"></i></span></div>
                                        <input type="password" placeholder="Password" name="password" class="form-control" required=""/>
                                </div>
                                <div class="form-group">
                                        <input type="Submit" value="Sign In" class="btn btn-dark "/>
                                </div>
                                
            
                            </form>
                        </div>
                        <div id="ss">
                                <form action="{% url 'myapp:registration'%}" method="post" enctype="multipart/form-data"> 
                                  {% csrf_token%}
                                  <p class="helptext text-danger"></p>
                                  <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group input-group mt-3">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text">
                                                <i class="fas fa-user-circle"></i></span></div>
                                                
                                                <input type="file" class="form-control"placeholder="Pic Please" name="image" style="height:50px; width:100px;" required/>
                                        </div>  
                            
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group mt-3 ">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                    <i class="fas fa-venus-mars"></i></span></div>
                                                    <select class="form-control"style="height:50px;" name="gender" required >
                                                        <option value="male">Male</option>
                                                        <option value="female">Female</option>
                                                      </select> 
                                            </div>
                                          
                                        </div>
                                    </div>
                                    
                                  </div>
                                  <div class="form-group mt-3 ">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                            <i class="fas fa-calendar-day"></i></span></div>
                                            <input type="date" placeholder="Date-Of-Birth" name="dob" class="form-control"style="height:50px;" required/>
                                    </div>
                                  
                                </div>                      
                                        <div class="form-group mt-3 ">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                <i class="fas fa-user"></i></span></div> 
                                                <input type="text" placeholder="Your Name" name="name" class="form-control" required/>
                                            </div>
                                           
                                        </div>
                                        <div class="form-group mt-3 ">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                    <i class="far fa-envelope-open"></i></span></div>
                                                    <input type="text" placeholder="EMail" id="id_username" name="email" class="form-control" required/>
                                            </div>
                                               
                                        </div>
                                        

                                       
                                        <div class="form-group input-group">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text">
                                                <i class="fas fa-key"></i></span></div>
                                                <input type="password" placeholder="Password" name="password" id="pas" class="form-control" onkeyup="check1()" required/>
                                        </div>
                                        <div class="form-group input-group">
                                                <div class="input-group-prepend">
                                                  <span class="input-group-text">
                                                    <i class="fas fa-unlock"></i></span></div>
                                                    <input type="password" placeholder="Confirm password" id='con' name="con" class="form-control"onkeyup="check1()" required/>
                                            </div>

                                           
                                        <div class="form-group">
                                                <input type="Submit" id="change" value="Create Account" class="btn btn-dark "/>
                                        </div>
                                        
                    
                                    </form>
                        </div>

                        </div>
                        <!-- <div class="col-md-1">
                          <div class="mx-auto" style="height:30%;width:1px; border-left:1px dashed red">
                        </div>
                        <div style="height:40px; width:40px; 
                        border:1px solid black; border-radius:50%; line-height:40px" class=" mx-auto text-center" >OR</div>
                        <div class="mx-auto" style="height:30%;width:1px; border-left:1px dashed red">
                        </div>
                        </div> -->
                         <!-- <div class="col-md-3">
                            <h2 class="text-dark ml-5"> Signing up with</h2>
                            <span class="text-info ml-5" style="font-size:60px;">
                                <a href="https://www.facebook.com/">  <i class="fab fa-facebook" style='transform:rotate(60deg)'></i></a></span>
                            <span class="text-danger ml-1" style="font-size:60px;">
                                <a href="https://www.google.com/">  <i class="fab fa-google-plus-square"></i></a></span>
                        </div> -->
                 </div>
            </div>
          </div>
      </div>
  </div>
  <script>
  $(function(){
      $('.abc').fadeIn(3000);
  })

  $(function(){
      $('#ss').hide();
      $('#sbtn').click(function(){
          $('#signin').show();
          $('#ss').hide();
      });
      $('#subtn').click(function(){
          $('#ss').show();
          $('#signin').hide();
      });

  })
 </script>
 
  <script>
      function check1(){
          pw  = $('#pas').val();
          cpw  = $('#con').val();
      
          if(pw==cpw){
              $('#pas').css('border','1px solid green');
              $('#con').css('border','1px solid green');
              $('#change').removeAttr('disabled');
          }else{
              $('#pas').css('border','1px solid red');
              $('#con').css('border','1px solid red');
              $('#change').attr('disabled','disabled');
          }
      }
      </script>
 </script>
 <script>
		
	$(function(){
		$('#id_username').keyup(function(){
			var user = $('#id_username').val();
      
			$.ajax({
				url:'{% url "myapp:uservalid" %}',
				type:'get',
				data:{username:user},
				success:function(data){ 
					if(data=='Success'){
						$('#id_username').css({border:'1px solid green'});
						$('#ss').removeAttr('disabled');
						$('.helptext').html('<i class="fas fa-success"></i>');
					}
					else{
						$('#id_username').css({border:'1px solid red'});
						$('#ss').attr('disabled','disabled');
						$('.helptext').html(data+'<br/>');
					}
				}
			})
		});
	});
	</script>    
     
    


</body>
</html>