<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mail Us</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"/> -->
    <script src="{%static 'jquery.js'%}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noticia+Text" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Khand" rel="stylesheet">
    <style>
    .add{
        font-family: 'Khand', sans-serif;
        color: slateblue;
        font-size: 40px;
        
    }
    .fax{
        font-family: 'Khand', sans-serif;
        margin-left: 175px;
        color: gray;  
    }
    .inp{
        height: 50px;
        border-top-color: white;
        text-align: center;
    }
    
    </style>
   </head>

    <body>
            <div class="container" style="overflow:hidden">
                    <div class="row">
                      <div class="col-md-2 ">
                          {% if user.is_authenticated %}
                          {% else %}
                          <i class="fas fa-user text-primary m-5 p-3" 
                      style=" margin-top: 100px; border:1px solid blue" data-toggle="modal" data-target="#signup"></i>
                      {% endif %}
                    
                    </div>
                      <div class="col-md-8">
                          <img src="{%static 'images/img2.jpg'%}" height="120px" width="380px" style="margin-left:200px">
                          <h4 class="text-center" style="letter-spacing: 6px; font-family: 'Open Sans Condensed', sans-serif;">Your Stores. Your Place.</h4>
                      </div>
                      <div class="col-md-2">
                            <a href="{%url 'myapp:cart' %}">
                      <i class="fas fa-shopping-cart text-danger m-5 p-4" style="margin-top: 100px;
                       border:1px solid red"></i></a></div>
                    </div>
<!------------------- navbar ----------------------------------------->
                  <div class="row">
                      <div class="col-md-12">
                   <nav class="navbar navbar-dark bg-dark navbar-expand-sm  ">
                      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#mynav">
                          <span class="navbar-toggler-icon"></span>
                      </button> 
                      <div class="collapse navbar-collapse" id="mynav">
                          <ul class="navbar-nav mx-auto">
                              <li class="nav-item"><a href="{%url 'myapp:fr'%}" class="nav-link">HOME</a></li>
                              <li class="nav-item dropdown">
                                  <a href="" class=" nav-item nav-link dropdown dropdown-toggle ml-5"
                                      data-toggle="dropdown"><b class="caret">PRODUCTS</b></a>
                                  <div class="dropdown-menu multi-column">
                                    <div class="container-fluid dropdown-container">
                                      <div class="row"  style="height: 300px; width:900px;">
                                      <div class="col-md-3">
                                          <h5>Mobiles</h5>
                                         <a href="{%url 'myapp:mobile'%}" class="dropdown-item">Mobile Phones</a>
                                         <a href="{%url 'myapp:mobile'%}" class="dropdown-item">Mp3 Players</a>
                                         <a href="{%url 'myapp:mobile'%}" class="dropdown-item">Popular Models</a>
                                         <a href="{%url 'myapp:mobile'%}" class="dropdown-item">All Tablets</a>
                                      </div>
                                     
                                       <div class="col-md-3">
                                           <h5>Accessories</h5>
                                          <a href="{%url 'myapp:mobile'%}" class="dropdown-item">Laptop</a>
                                          <a href="{%url 'myapp:mobile'%}" class="dropdown-item">Desktop</a>
                                          <a href="{%url 'myapp:mobile'%}" class="dropdown-item">Wearables</a>
                                      </div>
                                      
                                      <div class="col-md-2">
                                              <h5>Home</h5>
                                             <a href="{%url 'myapp:mobile'%}" class="dropdown-item">TV</a>
                                             <a href="{%url 'myapp:mobile'%}" class="dropdown-item">AC</a>
                                             <a href="{%url 'myapp:mobile'%}" class="dropdown-item">Camera</a>
                                             <a href="{%url 'myapp:mobile'%}" class="dropdown-item">Grinders</a>
                                      </div>
                                      <div class="col-md-4">
                                          <img src="{%static 'images/food.jpg'%}" style="width:250px;height:250px;">
                                      </div>
                                      </div>
                                    </div>
                                  </div>
                                  
                              </li>
                              <li class="nav-item"><a href="{%url 'myapp:ab' %}" class="nav-link ml-5">ABOUT US</a></li>
                              
                              <li class="nav-item"><a href="{%url 'myapp:ma'%}" class="nav-link ml-5">MAIL US</a></li>
                              {% if user.is_authenticated %}
                              <li class="nav-item dropdown">
                                  <a href="" class=" nav-item nav-link dropdown dropdown-toggle ml-5"
                                      data-toggle="dropdown" disabled id="account"><b class="caret">MY ACCOUNT
                                        {{user.username}}
                                      </b></a>
                                    <div class="dropdown-menu" >
                                      <a href="{%url 'myapp:profile'%}" class="dropdown-item">View Profile</a>
                                      <a href="{%url 'myapp:change_profile'%}" class="dropdown-item">Change Profile</a>
                                      <a href="{%url 'myapp:myorders' %}" class="dropdown-item">Order History</a>
                                      <a href="{%url 'myapp:pending_orders' %}" class="dropdown-item">Pending Orders</a>
                                      <a href="{%url 'myapp:cart' %}" class="dropdown-item">My Cart</a>
                                      <a href="{%url 'myapp:uslogout' %}" class="dropdown-item">Logout</a>
                
                
                              
                                    </div></li>
                              {% endif %}
                            </ul>
                      </div>
              
                   </nav>
                  </div>
              </div>
<!------------------------------------pic----------------------------------------->
  <div class="row">
      <div class="col-md-12" style="background-image: url('{%static 'images/img10.jpg'%}');width:100%; 
      height: 500px;background-size: cover; background-repeat: no-repeat;">
      <h1 class="text-dark display-1 p-5">Mail Us</h1>

      </div>
  </div>
  <!------------------------address--------------------->
{% if status %}
<script>
alert('Thanks Mr./Miss {{name}} for your feedback!!! It is really beneficial for us!!!');
</script>
{% endif %}
  <div class="row">
      <div class="col-md-12">
          <h1 class="text-dark p-5 display-3 text-center">Mail Us</h1></div>
  </div>
  <div class="row">
      <div class="col-md-6">
          <h4 class="add text-center p-3">Address</h4>
        <h6 class="fax">
          <span>#C-86, Industrial Area, phase-7 Mohali, India</span><br><br>
          <span>Free Phone :98763-43502</span><br><br>
          <span>Telephone : 96460-28212</span><br><br>
          <span>Fax :+1 078 4589 2456</span><br><br>
          <span> dipaligarg502@gmail.com,<br>
            parneet718@gmail.com</span>
        </h6>
      </div>
      <div class="col-md-6">
            <h4 class="add text-center p-3">Contact Us</h4>
            <form action="" method="post">
              {% csrf_token %}
              <input type="text" placeholder="Your Name" name="Name" class="inp" required=""/>
              <input type="email" placeholder="Your Email" name="Email" class="inp" required=""/>
              <input type="text" placeholder="Telephone No."  name="Telephone" class="inp" required=""/>
              <textarea rows="7" cols="73" placeholder="Message"  name="message" required=""
              style="margin-top:15px; border-top-color: white;"></textarea>
              <br>
              <div class="col-md-4">
              <button class="btn btn-dark btn-block" type="submit">submit</button></div>
            </form>
            
      </div>
  </div>
  <!-----------------------------------------map------------------------------------->
  <div class="row">
      <div class="col-md-12  p-3">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3430.056283563222!2d76.69247711431439!3d30.71681808164266!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390fee5a42944be3%3A0xb713d3a3e26a89c1!2sSachTech+Solution+Pvt.+Ltd.!5e0!3m2!1sen!2sin!4v1554124481460!5m2!1sen!2sin" 
            width="100%" height="350"
             frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
  </div>
  <!------------------------------------footer----------------------------------------->
<br>
<br>

      <!----------------------------------------------------->
<div class="row">
        <div class="col-md-3">
         <h4 style="font-family: 'Noticia Text', serif; font-size: 30px;">CONTACT</h4><br>
        <p style="font-family: 'Noticia Text', serif;">
          <i class="fas fa-map-marker-alt m-3 p-2" style="border:1.2px solid slategrey;"></i>
          #C-86, Industrial Area, phase-7 Mohali, India</p>
          <p style="font-family: 'Noticia Text', serif;">
            <i class="fas fa-envelope m-2 p-2" style="border:1.2px solid slategrey;"></i>
            dipaligarg502@gmail.com,<br>
            parneet718@gmail.com</p>
            <p style="font-family: 'Noticia Text', serif;">
              <i class="fas fa-phone mt-3 p-2" style="border:1.2px solid slategrey;"></i>
            98763-43502, 96460-28212</p>
            
      
        </div>
        <div class="col-md-3">
          <h4 style="font-family: 'Noticia Text', serif; font-size: 30px;">INFORMATION</h4><br>
          <p style="font-family: 'Noticia Text', serif;">
              <a href="{%url 'myapp:ab' %}">
              <span class="text-dark" style="font-size: 20px; font-weight: bold">&rarr;</span>About Us</a></p>
             <p style="font-family: 'Noticia Text', serif;">
                <a href="{%url 'myapp:ma'%}">
              <span class="text-dark" style="font-size: 20px; font-weight: bold">&rarr;</span>Contact Us</a></p>
           
      
        </div>
        <div class="col-md-3">
          <h4 style="font-family: 'Noticia Text', serif; font-size: 30px;">CATEGORY</h4><br>
          <p style="font-family: 'Noticia Text', serif;">
            
            <span class="text-dark" style="font-size: 20px; font-weight: bold">&rarr;</span> 
            <a href="{%url 'myapp:mobile'%}">Mobiles</a></p>
          <p style="font-family: 'Noticia Text', serif;">
            <span class="text-dark" style="font-size: 20px; font-weight: bold">&rarr;</span> 
            <a href="{%url 'myapp:mobile'%}">Laptops</a></p>
          <p style="font-family: 'Noticia Text', serif;">
            <span class="text-dark" style="font-size: 20px; font-weight: bold">&rarr;</span>
            <a href="{%url 'myapp:mobile'%}"> Home Appliances</a></p>
          <p style="font-family: 'Noticia Text', serif;">
            <span class="text-dark" style="font-size: 20px; font-weight: bold">&rarr;</span> 
            <a href="{%url 'myapp:mobile'%}">Kitchen</a></p>
         
        </div>
        <div class="col-md-3">
          <h4 style="font-family: 'Noticia Text', serif; font-size: 30px;">PROFILE</h4><br>
          <p style="font-family: 'Noticia Text', serif;">
              <a href="{%url 'myapp:fr'%}">
            <span class="text-dark" style="font-size: 20px; font-weight: bold">&rarr;</span> Home</a></p>
            <br>
            <h5 style="font-family: 'Noticia Text', serif; font-size: 20px;">Follow US</h5>
            <a href="https://www.facebook.com/">  <i class="fab fa-facebook" style="font-size: 30px"></i></a>
           <a href="https://www.google.com/"><i class="fab fa-google-plus-g ml-2" style="font-size: 30px"></i></a> 
        </div>
      </div>
  </div><!---------------------container div is closed---------------------------->
  <div class="modal modal-fade" id="signup">
    <div class="modal-dailog modal-lg mx-auto">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title text-dark">Don't Wait Login Now!</h2>
                
                <span class="text-danger font-weight-bold close" data-dismiss="modal"
                style="font-size:30px;">X</span>
            </div>
            <div class="modal-body">
               <div class='row'>
                      <div class="col-md-8">
                              <button class="btn btn-outline-dark" id="sbtn">SIGN IN</button>
                              <button class="btn btn-outline-dark" id="subtn">SIGN UP</button>
                      <div id="signin">       
                          <form action="{% url 'myapp:uslogin'%}" method="POST"> 
                            {% csrf_token%}                           
                              <div class="form-group mt-3 ">
                                  <div class="input-group">
                                      <div class="input-group-prepend">
                                          <span class="input-group-text">
                                      <i class="fas fa-user"></i></span></div>
                                      <input type="text" placeholder="Email" name="email" class="form-control" required=""/>
                                  </div>
                                 
                              </div>
                             
                              <div class="form-group input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <i class="fas fa-key"></i></span></div>
                                      <input type="password" placeholder="Password" name="password" class="form-control" required=""/>
                              </div>
                              <div class="form-group">
                                      <input type="Submit" value="Sign In" class="btn btn-dark "/>
                              </div>
                              
          
                          </form>
                      </div>
                      <div id="ss">
                              <form action="{% url 'myapp:registration'%}" method="post" enctype="multipart/form-data"> 
                                {% csrf_token%}
                                <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group input-group mt-3">
                                                <div class="input-group-prepend">
                                                  <span class="input-group-text">
                                                    <i class="fas fa-user-circle"></i></span></div>
                                                    
                                                    <input type="file" class="form-control" required placeholder="Pic Please" name="image" style="height:50px; width:100px;"/>
                                            </div>  
                                
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group mt-3 ">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                        <i class="fas fa-venus-mars"></i></span></div>
                                                        <select class="form-control"style="height:50px;"name="gender" required >
                                                            <option value="male" >Male</option>
                                                            <option value="female">Female</option>
                                                          </select> 
                                                </div>
                                              
                                            </div>
                                        </div>
                                       
                                      </div> 
                                      <div class="form-group mt-3 ">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                <i class="fas fa-calendar-day"></i></span></div>
                                                <input type="date" placeholder="Date-Of-Birth" required name="dob" class="form-control"style="height:50px;"/>
                                        </div>
                                      
                                    </div>                      
                                      <div class="form-group mt-3 ">
                                          <div class="input-group">
                                              <div class="input-group-prepend">
                                                  <span class="input-group-text">
                                              <i class="fas fa-user"></i></span></div>
                                              <input type="text" placeholder="Your Name" required name="name" class="form-control"/>
                                          </div>
                                         
                                      </div>
                                      <div class="form-group mt-3 ">
                                          <div class="input-group">
                                              <div class="input-group-prepend">
                                                  <span class="input-group-text">
                                                  <i class="far fa-envelope-open"></i></span></div>
                                                  <input type="text" placeholder="EMail" required name="email" class="form-control"/>
                                          </div>
                                             
                                        </div>
                                        
                                     
                                      <div class="form-group input-group">
                                          <div class="input-group-prepend">
                                            <span class="input-group-text">
                                              <i class="fas fa-key"></i></span></div>
                                              <input type="password" placeholder="Password" required name="password" class="form-control"/>
                                      </div>
                                      <div class="form-group input-group">
                                              <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                  <i class="fas fa-unlock"></i></span></div>
                                                  <input type="password" placeholder="Confirm Password" required class="form-control"/>
                                          </div>
                                         
                                      <div class="form-group">
                                              <input type="Submit" value="Create Account" class="btn btn-dark "/>
                                      </div>
                                      
                  
                                  </form>
                      </div>

                      </div>
                      <!-- <div class="col-md-1">
                        <div class="mx-auto" style="height:30%;width:1px; border-left:1px dashed red">
                      </div>
                      <div style="height:40px; width:40px; 
                      border:1px solid black; border-radius:50%; line-height:40px" class=" mx-auto text-center" >OR</div>
                      <div class="mx-auto" style="height:30%;width:1px; border-left:1px dashed red">
                      </div>
                      </div> -->
                       <!-- <div class="col-md-3">
                          <h2 class="text-dark ml-5"> Signing up with</h2>
                          <span class="text-info ml-5" style="font-size:60px;">
                              <a href="https://www.facebook.com/">  <i class="fab fa-facebook" style='transform:rotate(60deg)'></i></a></span>
                          <span class="text-danger ml-1" style="font-size:60px;">
                              <a href="https://www.google.com/"> <i class="fab fa-google-plus-square"></i></a></span>
                      </div> -->
               </div>
          </div>
        </div>
    </div>
</div>
<script>
$(function(){
    $('.abc').fadeIn(3000);
})

$(function(){
    $('#ss').hide();
    $('#sbtn').click(function(){
        $('#signin').show();
        $('#ss').hide();
    });
    $('#subtn').click(function(){
        $('#ss').show();
        $('#signin').hide();
    });

})
</script>
    </body>
    </html>