<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>mobiles</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"/> -->
    <script src="{%static 'jquery.js'%}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noticia+Text" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Khand" rel="stylesheet">
    <style>
    .deals{
        margin-top:200px; 
        margin-left:50px; 
        font-family: 'Khand', sans-serif;
        font-size: 50px;
    }
    </style>
   </head>

    <body>
            <div class="container" style="overflow:hidden">
                    <div class="row">
                      <div class="col-md-2 ">
                          {% if user.is_authenticated %}
                          {% else %}
                 
                          <i class="fas fa-user text-primary m-5 p-3" 
                      style=" margin-top: 100px; border:1px solid blue" data-toggle="modal" data-target="#signup"></i>
                      {% endif %}    
                    </div>
                      <div class="col-md-8">
                          <img src="{%static 'images/img2.jpg'%}" height="120px" width="380px" style="margin-left:200px">
                          <h4 class="text-center" style="letter-spacing: 6px; font-family: 'Open Sans Condensed', sans-serif;">Your Stores. Your Place.</h4>
                      </div>
                      <div class="col-md-2">
                          <a href="{%url 'myapp:cart' %}">
                      <i class="fas fa-shopping-cart text-danger m-5 p-4" style="margin-top: 100px;
                       border:1px solid red"></i></a></div>
                    </div>
              <!------------------- navbar ----------------------------------------->
                  <div class="row">
                      <div class="col-md-12 px-0">
                   <nav class="navbar navbar-dark bg-dark navbar-expand-sm   ">
                      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#mynav">
                          <span class="navbar-toggler-icon"></span>
                      </button> 
                      <div class="collapse navbar-collapse" id="mynav">
                          <ul class="navbar-nav mx-auto">
                              <li class="nav-item"><a href="{%url 'myapp:fr'%}" class="nav-link">HOME</a></li>
                              <li class="nav-item dropdown">
                                  <a href="" class=" nav-item nav-link dropdown dropdown-toggle ml-3"
                                      data-toggle="dropdown"><b class="caret">PRODUCTS</b></a>
                                  <div class="dropdown-menu multi-column">
                                    <div class="container-fluid dropdown-container">
                                      <div class="row" style="height: 300px; width:900px;">
                                      <div class="col-md-3">
                                          <h5>Mobiles</h5>
                                         <a href="{%url 'myapp:mobile'%}" class="dropdown-item">Mobile Phones</a>
                                         <a href="{%url 'myapp:mobile'%}" class="dropdown-item">Mp3 Players</a>
                                         <a href="{%url 'myapp:mobile'%}" class="dropdown-item">Popular Models</a>
                                         <a href="{%url 'myapp:mobile'%}" class="dropdown-item">All Tablets</a>
                                      </div>
                                     
                                       <div class="col-md-3">
                                           <h5>Accessories</h5>
                                          <a href="{%url 'myapp:mobile'%}" class="dropdown-item">Laptop</a>
                                          <a href="{%url 'myapp:mobile'%}" class="dropdown-item">Desktop</a>
                                          <a href="{%url 'myapp:mobile'%}" class="dropdown-item">Wearables</a>
                                      </div>
                                      
                                      <div class="col-md-2" >
                                              <h5>Home</h5>
                                             <a href="{%url 'myapp:mobile'%}" class="dropdown-item">TV</a>
                                             <a href="{%url 'myapp:mobile'%}" class="dropdown-item">AC</a>
                                             <a href="{%url 'myapp:mobile'%}" class="dropdown-item">Camera</a>
                                             <a href="{%url 'myapp:mobile'%}" class="dropdown-item">Grinders</a>
                                      </div>
                                      <div class="col-md-4" >
                                          <img src="{%static 'images/food.jpg'%}" style="width:250px;height:250px;">
                                      </div>
                                      </div>
                                    </div>
                                  </div>
                                  
                              </li>
                              <li class="nav-item"><a href="{%url 'myapp:ab' %}" class="nav-link ml-3">ABOUT US</a></li>
                              
                              
                              <li class="nav-item"><a href="{%url 'myapp:ma'%}" class="nav-link ml-3">MAIL US</a></li>
                              {% if user.is_authenticated %}
                              <li class="nav-item dropdown">
                                  <a href="" class=" nav-item nav-link dropdown dropdown-toggle "
                                      data-toggle="dropdown" disabled id="account"><b class="caret">MY ACCOUNT
                                        {{user.username}}
                                      </b></a>
                                    <div class="dropdown-menu" >
                                      <a href="{%url 'myapp:profile'%}" class="dropdown-item">View Profile</a>
                                      <a href="{%url 'myapp:change_profile'%}" class="dropdown-item">Change Profile</a>
                                      <a href="{%url 'myapp:myorders' %}" class="dropdown-item">Order History</a>
                                      <a href="{%url 'myapp:pending_orders' %}" class="dropdown-item">Pending Orders</a>
                                      <a href="{%url 'myapp:cart' %}" class="dropdown-item">My Cart</a>
                                      <a href="{%url 'myapp:uslogout' %}" class="dropdown-item">Logout</a>
                
                
                              
                                    </div></li>
                              {% endif %}
                          </ul>
                      </div>
              
                   </nav>
                  </div>
              </div>
<!------------------------------------pic----------------------------------------->
  <div class="row" style="overflow:hidden;">
      <div class="col-md-12" style="background-image: url('{%static 'images/bg22.jpg'%}');  height: 400px;width:100%;background-repeat: no-repeat;">
      <h3 class="deals m-5 p-5"><span style="color:white;">GREAT OFFERS ON 
    </span><br><span style="color:#ff4d4d; margin-left: 40px;">
      MOBILES</span><br> <span style="color:white;">FLAT 35% DISCOUNT</span></h3>
      
      </div>
  </div>


  <!-----------------categories---------------------------->
  <div class="row">
      <div class="col-md-3 ml-3">
        
        <h4 style="font-family: 'Noticia Text', serif; font-size: 30px;" class="p-3">CATEGORIES</h4>
        <div style="border: 1px solid gray ; color: slateblue">
        <h5><i class="fas fa-plus ml-3" data-toggle="collapse" data-target="#demo"></i>  
        <span style="font-family: 'Noticia Text', serif;">New Arrivals</span></h5>
          
        <div id="demo" class="collapse ml-5">
       {% for i in cat %}
      <li onclick="getproduct1('{{i.category_name}}')">{{i.category_name}}</li>
       {% endfor %}
        </div>
        <script>
          function getproduct1(ab){
              $.ajax({
                url:'{% url "myapp:getproduct"%}',
                type:'get',
                data:{cat:ab},
                success:function(data){
                  aa='';
                  for(i in data){
                    aa += '<div class="col-md-4"><img src="/media/'+data[i].photo+'" style=" height:300px;width:100%;" onclick="singleproduct('+data[i].id+')"  data-toggle="modal" data-target="#mymodal"><h3 class="ml-2" style="color:#ff4d4d"><span>'+data[i].product_name+'</span></h3><del class="ml-2"> <i class="item_price">&#8377;</i>'+data[i].price+'</del> <i class="item_price">&#8377;</i>'+data[i].sale_price+'<form action="{% url "myapp:cart"%}" method="post">{% csrf_token %}<input type="hidden" name="add" value="1" /><input type="hidden" name="item_id" value="'+data[i].id+'" /><input type="hidden" name="amount" value="'+data[i].sale_price+'" /><button type="submit" class="w3ls-cart">Add to cart</button></form></div>';
                  // alert(aa);
                  }
                  $('.a').html(aa);
                }
              });
            }
        </script>
      
      
      </div>
      </div>
    <div class="col-md-8">
       <div class="row">
           <div class="col-md-5">
               <div class="row ml-5" style="background-image: url('{%static 'images/cam.jpg'%}');width: 100%;background-size: contain; background-repeat: no-repeat;">
                   <div class="col-md-12" style="background-color: rgba(0, 0, 0, 0.5);height: 220px;">
                    <h4 class="text-light mt-5 ml-5" style="font-family: 'Noticia Text', serif;">Smart Phones</h4>
                    <h4 class="ml-5" style="font-family: 'Noticia Text', serif;"><span style="color:#ff4d4d">Up to </span><br>
                        <span class="text-light" >15% Discount</span></h4>
                    
                   </div>
               </div>
           </div>
            <div class="col-md-5">
                <div class="row ml-5" style="background-image: url('{%static 'images/cam4.jpg'%}');width: 100%;background-size: contain; background-repeat: no-repeat;">
                  <div class="col-md-12" style="background-color: rgba(0, 0, 0, 0.5);height: 230px;">
                    <h4 class="text-light mt-5 ml-5" style="font-family: 'Noticia Text', serif;">Top 10 Latest</h4>
                    <h4 class="ml-5" style="font-family: 'Noticia Text', serif;"><span style="color:#ff4d4d">Mobiles </span><br>
                        <span class="text-light" >&amp; Accessories</span></h4>
                  </div>
                </div>
            </div>
       </div>
    <div class="row">
        <div class="col-md-6">
            <h4 class="text-dark p-3 m-2" style="font-family: 'Noticia Text', serif;">
                Showing Results: 0-1 </h4>
        </div>
       
    
    </div>
    <!-----------------------------------row 1-------------------------------------------->
    <!-- <div class="a"></div> -->
    <div class="row a">
      {% for i in all %}
        <div class="col-md-4">
            <img src="/media/{{i.photo}}" style="height:300px; width:100%" onclick="singleproduct('{{i.id}}')" data-toggle="modal" data-target="#mymodal">
          <h4>  <span style="color:#ff4d4d ;font-family: 'Noticia Text', serif;">{{i.product_name}}</span></h4>
          <del>&#8377;{{i.price}}</del> &#8377;{{i.sale_price}} 
          <form action="{% url 'myapp:cart'%}" method="post">
              {% csrf_token %}
              <input type="hidden" name="add" value="1"> 
              <input type="hidden" name="w3ls_item" value="{{i.product_name}}"> 
              <input type="hidden" name="amount" value="{{i.sale_price}}">   
              <input type="hidden" name="item_id" value="{{i.id}}"> 
              <button type="submit" class="w3ls-cart">Add to cart</button>
          </form> 
        </div>
      {% endfor %}
     
    </div>
   
    </div>
    </div>
    <script>
    function singleproduct(cd){
    
    prid = cd
    $.ajax({
       url:'{% url "myapp:mobile" %}',
       type:'get',
       data:{prid:prid},
       success:function(data){
       var check = (data.description).search('@');
       if(check==-1){
         dsc = data.description;
                    }
       else{
         var dd = (data.description).split('@');
         dsc = '';
       for(var i=0; i<dd.length-1;i++){
         dsc+='<li>'+dd[i]+'</li>';
                     }
           }
         $('.pimg').html('<img src="/media/'+data.photo+'" alt="No Image" class="img-responsive" height="100%"/>');
         $('#pname').html(data.name);
         $('#pdes').html('<ul>'+dsc+'</ul>');
         $('#pp').html(data.price);
         $('#sp').html(data.sale_price); 
         $('#iprice').val(data.sale_price);
         $('#item_id').val(data.id);
                 }
               });
    
  }
    </script>
    <!-------------------------------------------------------------mymodal------------------------------------------------------->
    <div class="modal modal-fade" id="mymodal">
      <div class="modal-dialog modal-lg mx-auto">
        <div class="modal-content">
    
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title text-dark">Product Details</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
    
          <!-- Modal body -->
          <div class="modal-body">
            <div class="container">
              <div class="row">
                <div class="col-md-5 pimg" style="height:250px; width:250;">
                  <!-- <img src="{%static 'images/asus2.jpg'%}" style="height:300px; width:300px;"> -->
                </div>
                <div class="col-md-7">
                  <h3 id='pname'  style="color:#ff4d4d; font-family:'Arvo', serif; margin-left: 45px;"></h3>
                  <hr>
                  <ul class="list-group" style="margin-left: 40px;">
                  <p id='pdes'></p></ul>
                  <hr>
                 <span style="font-size:25px; margin-left: 45px;" >&#8377;</span> <del id="pp" style="font-size:25px;"></del><br>
                <span style="font-size:25px;margin-left: 45px;">&#8377;</span>  <span id="sp" style="font-size:25px;"></span>
                  <div class="clearfix"> </div>
                </div>
                    
                </div>
              </div>
            </div>
          </div>
    
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
    
        </div>
      </div>
<!------------------------------------Related Products-------------------------------------------->
<div class="row">
  <div class="col-md-12">
    <h1 class="mx-auto  p-5" style="font-family: 'Noticia Text', serif;">
      Related Products</h1></div>
  </div>

<marquee>
  <div class="row">
    {% for i in alls %}
       <div class="col-md-2">
        <img src="/media/{{i.photo}}" style="height:200px; width:100%" onclick="singleproduct('{{i.id}}')" data-toggle="modal" data-target="#mymodal">
        <h4>  <span style="color:#ff4d4d ;font-family: 'Noticia Text', serif;">{{i.product_name}}</span></h4>
        <del>&#8377;{{i.price}}</del> &#8377;{{i.sale_price}}<br>
        <form action="{% url 'myapp:cart'%}" method="post">
          {% csrf_token %}
          <input type="hidden" name="add" value="1"> 
          <input type="hidden" name="w3ls_item" value="{{i.product_name}}"> 
          <input type="hidden" name="amount" value="{{i.sale_price}}">   
          <input type="hidden" name="item_id" value="{{i.id}}"> 
          <button type="submit" class="w3ls-cart">Add to cart</button>
      </form> 
       </div>
    {% endfor %}
    
</div>
</marquee>
<!------------------------------------footer----------------------------------------->
<br>
<br>

     
      <br>
      <!----------------------------------------------------->
<div class="row">
        <div class="col-md-3">
         <h4 style="font-family: 'Noticia Text', serif; font-size: 30px;">CONTACT</h4><br>
        <p style="font-family: 'Noticia Text', serif;">
          <i class="fas fa-map-marker-alt m-3 p-2" style="border:1.2px solid slategrey;"></i>
          #C-86, Industrial Area, phase-7 Mohali, India</p>
          <p style="font-family: 'Noticia Text', serif;">
            <i class="fas fa-envelope m-2 p-2" style="border:1.2px solid slategrey;"></i>
            dipaligarg502@gmail.com,<br>
            parneet718@gmail.com</p>
            <p style="font-family: 'Noticia Text', serif;">
              <i class="fas fa-phone mt-3 p-2" style="border:1.2px solid slategrey;"></i>
            98763-43502, 96460-28212</p>
            
      
        </div>
        <div class="col-md-3">
          <h4 style="font-family: 'Noticia Text', serif; font-size: 30px;">INFORMATION</h4><br>
          <p style="font-family: 'Noticia Text', serif;">
              <a href="{%url 'myapp:ab' %}">
              <span class="text-dark" style="font-size: 20px; font-weight: bold">&rarr;</span>About Us</a></p>
             <p style="font-family: 'Noticia Text', serif;">
                <a href="{%url 'myapp:ma'%}">
              <span class="text-dark" style="font-size: 20px; font-weight: bold">&rarr;</span>Contact Us</a></p>
           
      
        </div>
        <div class="col-md-3">
            <h4 style="font-family: 'Noticia Text', serif; font-size: 30px;">CATEGORY</h4><br>
            <p style="font-family: 'Noticia Text', serif;">
              <span class="text-dark" style="font-size: 20px; font-weight: bold">&rarr;</span> 
              <a href="{%url 'myapp:mobile'%}">Mobiles</a></p>
            <p style="font-family: 'Noticia Text', serif;">
              <span class="text-dark" style="font-size: 20px; font-weight: bold">&rarr;</span> 
              <a href="{%url 'myapp:mobile'%}">Laptops</a></p>
            <p style="font-family: 'Noticia Text', serif;">
              <span class="text-dark" style="font-size: 20px; font-weight: bold">&rarr;</span> 
              <a href="{%url 'myapp:mobile'%}">Home Appliances</a></p>
            <p style="font-family: 'Noticia Text', serif;">
              <span class="text-dark" style="font-size: 20px; font-weight: bold">&rarr;</span> 
              <a href="{%url 'myapp:mobile'%}">Kitchen</a></p>
           
          </div>
        
        <div class="col-md-3">
          <h4 style="font-family: 'Noticia Text', serif; font-size: 30px;">PROFILE</h4><br>
          <p style="font-family: 'Noticia Text', serif;">
              <a href="{%url 'myapp:fr'%}">
            <span class="text-dark" style="font-size: 20px; font-weight: bold">&rarr;</span> Home</a></p>
            <br>
            <h5 style="font-family: 'Noticia Text', serif; font-size: 20px;">Follow US</h5>
            <a href="https://www.facebook.com/">  <i class="fab fa-facebook" style="font-size: 30px"></i></a>
            <a href="https://www.google.com/"> <i class="fab fa-google-plus-g ml-2" style="font-size: 30px"></i></a>
        </div>
      </div>
</div><!---------------------container div is closed---------------------------->
<!----------------------------------------------------login model-------------------------------------------------------------->
<div class="modal modal-fade" id="signup">
  <div class="modal-dailog modal-lg mx-auto">
      <div class="modal-content">
          <div class="modal-header">
              <h2 class="modal-title text-dark">Don't Wait Login Now!</h2>
              
              <span class="text-danger font-weight-bold close" data-dismiss="modal"
              style="font-size:30px;">X</span>
          </div>
          <div class="modal-body">
             <div class='row'>
                    <div class="col-md-8">
                            <button class="btn btn-outline-dark" id="sbtn">SIGN IN</button>
                            <button class="btn btn-outline-dark" id="subtn">SIGN UP</button>
                    <div id="signin">       
                        <form action="{% url 'myapp:uslogin'%}" method="POST"> 
                          {% csrf_token%}                           
                            <div class="form-group mt-3 ">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                    <i class="fas fa-user"></i></span></div>
                                    <input type="text" placeholder="Email" name="email" class="form-control" required=""/>
                                </div>
                               
                            </div>
                           
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                    <i class="fas fa-key"></i></span></div>
                                    <input type="password" placeholder="Password" name="password" class="form-control" required=""/>
                            </div>
                            <div class="form-group">
                                    <input type="Submit" value="Sign In" class="btn btn-dark "/>
                            </div>
                            
        
                        </form>
                    </div>
                    <div id="ss">
                            <form action="{% url 'myapp:registration'%}" method="post" enctype="multipart/form-data"> 
                              {% csrf_token%}
                              <div class="row">
                                  <div class="col-md-6">
                                      <div class="form-group input-group mt-3">
                                          <div class="input-group-prepend">
                                            <span class="input-group-text">
                                              <i class="fas fa-user-circle"></i></span></div>
                                              
                                              <input type="file" class="form-control" required placeholder="Pic Please" name="image" style="height:50px; width:100px;"/>
                                      </div>  
                          
                                  </div>
                                  <div class="col-md-6">
                                      <div class="form-group mt-3 ">
                                          <div class="input-group">
                                              <div class="input-group-prepend">
                                                  <span class="input-group-text">
                                                  <i class="fas fa-venus-mars"></i></span></div>
                                                  <select class="form-control"style="height:50px;" name="gender" required >
                                                      <option value="male">Male</option>
                                                      <option value="female">Female</option>
                                                    </select> 
                                          </div>
                                        
                                      </div>
                                  </div>
                                 
                                </div> 
                                <div class="form-group mt-3 ">
                                  <div class="input-group">
                                      <div class="input-group-prepend">
                                          <span class="input-group-text">
                                          <i class="fas fa-calendar-day"></i></span></div>
                                          <input type="date" placeholder="Date-Of-Birth" required name="dob" class="form-control"style="height:50px;"/>
                                  </div>
                                
                              </div>                       
                                    <div class="form-group mt-3 ">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                            <i class="fas fa-user"></i></span></div>
                                            <input type="text" placeholder="Your Name" required name="name" class="form-control"/>
                                        </div>
                                       
                                    </div>
                                    <div class="form-group mt-3 ">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                <i class="far fa-envelope-open"></i></span></div>
                                                <input type="text" placeholder="EMail" required name="email" class="form-control"/>
                                        </div>
                                           
                                    </div>
                                    
                                   
                                    <div class="form-group input-group">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text">
                                            <i class="fas fa-key"></i></span></div>
                                            <input type="password" placeholder="Password" required name="password" class="form-control"/>
                                    </div>
                                    <div class="form-group input-group">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text">
                                                <i class="fas fa-unlock"></i></span></div>
                                                <input type="password" placeholder="Confirm Password" required class="form-control"/>
                                        </div>
                                       
                                    <div class="form-group">
                                            <input type="Submit" value="Create Account" class="btn btn-dark "/>
                                    </div>
                                    
                
                                </form>
                    </div>

                    </div>
                    <!-- <div class="col-md-1">
                      <div class="mx-auto" style="height:30%;width:1px; border-left:1px dashed red">
                    </div>
                    <div style="height:40px; width:40px; 
                    border:1px solid black; border-radius:50%; line-height:40px" class=" mx-auto text-center" >OR</div>
                    <div class="mx-auto" style="height:30%;width:1px; border-left:1px dashed red">
                    </div>
                    </div> -->
                     <!-- <div class="col-md-3">
                        <h2 class="text-dark ml-5"> Signing up with</h2>
                        <span class="text-info ml-5" style="font-size:60px;">
                            <a href="https://www.facebook.com/">  <i class="fab fa-facebook" style='transform:rotate(60deg)'></i></a></span>
                        <span class="text-danger ml-1" style="font-size:60px;">
                            <a href="https://www.google.com/"> <i class="fab fa-google-plus-square"></i></a></span>
                    </div> -->
             </div>
        </div>
      </div>
  </div>
</div>
<script>
$(function(){
  $('.abc').fadeIn(3000);
})

$(function(){
  $('#ss').hide();
  $('#sbtn').click(function(){
      $('#signin').show();
      $('#ss').hide();
  });
  $('#subtn').click(function(){
      $('#ss').show();
      $('#signin').hide();
  });

})
</script>
    </body>
    </html>