{% extends "dashboard.html"%}
{% load staticfiles %}
{% block content %}
<div class="row " style="background-image: url('{%static 'images/bg2.jpg'%}'); height:200px; width:100%;
background-size:cover;">
<div class="col-md-3">
    <IMG src="/media/{{profile.profile}}" style="height:200px; width:200px; border-radius:50%; position: relative;border:5px solid gray; top:40px;"></IMG>
</div>
<div class="col-md-7">
    <h3 class="text-light p-5 ml-3">{{user.first_name}}</h3>
</div>
</div>
<div class="row">
    <div class="col-md-12 mt-5">
         <h2 style="font-family: 'Noticia Text', serif;">Details</h2>
        <div style='height:2px;width:100px;background:#ff5063'></div>
        <table class="table table-striped bg-light table-hover mt-2">
            <tr>
                <th>First Name</th>
                <td>{{user.first_name}}</td>
            </tr>
            <tr>
                    <th>Username</th>
                    <td>{{user.username}}</td>
            </tr>
            <tr>
                    <th>Email</th>
                    <td>{{user.email}}</td>
                   
            </tr>
            <tr>
                    <th>Gender</th>
                    <td>{{profile.gender}}</td>
                   
            </tr>
            <tr>
                    <th>Date Of Birth</th>
                    <td>{{profile.date_of_birth}}</td>
                   
            </tr>
            <tr>
                <th>Address</th>
                <td>{{profile.address}}</td>
               
             </tr>
       
        </table>
    </div>
</div>
{% endblock %}